# Exported from Render on 2025-11-17T21:16:37Z
version: "1"
services:
- type: web
  name: crescevendas-backend
  runtime: node
  repo: https://github.com/d12mkt/Backend-profissional-para-e-commerce-CresceVendas
  plan: free
  envVars:
  - key: JWT_SECRET
    sync: false
  - key: FRONTEND_URL
    sync: false
  - key: PORT
    sync: false
  - key: NODE_ENV
    sync: false
  - key: MONGODB_URI
    sync: false
  region: oregon
  buildCommand: npm install
  startCommand: npm start
  autoDeployTrigger: commit
